h1 {
    text-align: center;
}

body {
    background-image: url(/images/Clouds.jpeg);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

p {
    font-size: x-large;
}