---
layout: base.njk
title: About HCCT
---

<h1>About Hcct</h1>
<hr>

<p>
    Welcome to Hinunangan Christian Church Talisay (HCCT). Our church started in August, 2020. Then we 
    called ourselves Talisay Christian Church Fellowship (TCCF). Since our services are at 1:30 
    Sunday afternoon we had a local pastor conducting our service. However, in January, 
    2020 we had an amiable parting of the ways and Todd Malaki (pictured below) 
    was named Pastor of HCCT. We became approved by the Security Exchange Commission and offiially became HCCT. 
    
    No matter what youor background and where you are now you will be welcome at HCCT. We are a family, Gospel oriented and Bible centered group. Be sure to check out our Statement of faith elsewhere on this web site.
</p>
<hr>
<img src="/images/PastorTodd.jpg" alt="Pastor Todd Malaki" class="center">
