<nav>
    <a href="/">Home</a>
    <a href="/about">About HCCT</a>
    <a href="/beliefs">Statement of Faith</a>
    <a href="/mission">Our Mission</a>
    <a href="/events">Events</a>
    <a href="/gallery">Our Photo Gallery</a>
    <a href="/pastorappreciationday">Pastor Appreciation day</a>
</nav>
<hr>
